{% extends "layout.twig" %}

{% block content %}

<header class="bk-header clearfix">
    <div class="header-bg">
         <div class="wrapper companyheader clearfix">
            {{widget('logo', 'logo', {"defaultlogo": asset('images/logo.png')})|raw}}
            {{widget('companyname', 'companyname', {"business": "profile"})|raw}}
            <div class="header-profilephone">
                {% if profile.phone|length > 0 %}  
                   {{widget('socialicons', 'thisunqiuewidgetname', {'googleplus': 'https://plus.google.com/101946323226233111530', 'linkedin':'http://www.linkedin.com/company/basekit', 'facebook': 'https://www.facebook.com/TeamBaseKit', 'twitter': 'https://twitter.com/basekit', 'youtube': 'https://www.youtube.com/user/TeamBaseKit', 'rss': 'http://blogdiseno.basekit.es/feed/'})|raw}}
                {% endif %}
            </div>
        </div>
    </div>
    <nav>
        <div class="wrapper clearfix">
            <div class="welcome-text">
                {{widget('content', 'headercontent1', {"content":"<h3>Lorem Ipsum - Alam Thor</h3>"})|raw}}  
            </div>  
            {{widget('extendednavigation', 'navigationheader', {"align":"right"})|raw}}
        </div>
    </nav>
    <section>
        {{widget('feature', 'featurehome', {"header": "profile", "strapline":"profile", "buttonText":"Lorem Ipsum","defaultBgImg": asset('images/feature-bg.jpg'), 'positionTopPercentage': '50','showBtn': true})|raw}}
    </section>
</header>

<div class="main wrapper clearfix">
    {{zone('main')|raw}}
</div>  

<footer class="bk-footer">
    <div class="wrapper clearfix">
        <div class="responsivecolumns columns-two-50-50">
            <div class="column columns-two-left">
                {{widget('content', 'footercolumn1content1', {"content":"<h3>Aliquam Sodales</h3>"})|raw}}
                {{widget('profile', 'footercolumn1profileemail', { 'profileType':'email', 'email':'profile'})|raw}}
                {{widget('profile', 'footercolumn1profilephone', { 'profileType':'phone', 'phone':'profile'})|raw}}
            </div>
            <div class="column columns-two-right">
                {{widget('content', 'footercolumn2content1', {"content":"<h3>Lorem Upsum</h3>"})|raw}}
                {{widget('content', 'footercolumn2content2', {"content":"<p>Quas, inventore, explicabo, deserunt, similique alias ducimus ullam aliquam eaque delectus saepe vitae corporis minima cum atque.</p>"})|raw}}
            </div>
        </div>
    </div>
</footer>

{% endblock %}